
<link rel="stylesheet" href="/css/home.css">
        
  <div class="home_container">

           <section id="feed-posts">
            <h3>HOME </h3>
            
           
        </section>



<section id="user-friends">

    
    
</section>

</div>
